<%

///按如下格式拼接JSON

///{
///"key1":[["key2":"value2","key3":"value3"],["key4":"value4","key5":"value5"]],
///"key6":"vaule6"
///}

:data=jsonAddItem("","key2",'value2')
:data=jsonAddItem(:data,"key3",'value3')
:dataArray=jsonAddArrayItem("",:data)

:data=jsonAddItem("","key4",'value4')
:data=jsonAddItem(:data,"key5",'value5')
:dataArray=jsonAddArrayItem(:dataArray,:data)

:data=jsonAddItem("","key1",:dataArray)
:data=jsonAddItem(:data,"key6",'value6')
=:data
%>
