<%
    /// 文 件 名：test_add
    /// 描    述：测试相应的结果(用一句话描述该文件做什么)  
    /// 项目名称：cardiac      
    /// 作    者：武汉大学国家网络安全学院@沈家强    
    /// 发布日期：2019/4/27 0027 0:13  
    /// 文件版本：V1.0 
    /// 注意：本内容仅限于武汉大学国家网络安全学院陈刚教授团队内部传阅，禁止外泄以及用于其他的商业目
    /// @Copyright: 2019 www.whu.edu.cn. All rights reserved. 
    /// All rights Reserved, Designed By www.whu.edu.cn
    :a = 5
    :b = 3
    =test_add(:a, :b)

%>