

/*添加机构*/
.add-depart-from-position{
    margin: 30px 0 0 20px;
}
.add-depart-button-position{
    margin-left: 140px;
}
/*修改机构*/
.modify-depart-from-position{
    margin: 30px 0 0 30px;
}
.modify-depart-button-position{
    margin-left: 140px;
    margin-top: 20px;
}