
  <%:sqlstr1="select id,city_id, name from person where id<? order by id desc"%>
  <%:x=changeRecordSet(:sqlstr1,"4L")%>
  <%:count=recordCount()%>
  <%debugMsg("recordCount is "+:count)%>
  <%If :count>0%>
   <%Repeat%> 
        <%=id%>&nbsp;<%=city_id%>&nbsp;<%=name%><br>
    <%EndRepeat%>
  <%EndIf%>
